<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atwangsi.user.dao.TbInteractInterflowMapper">
  <resultMap id="BaseResultMap" type="com.atwangsi.user.model.TbInteractInterflow">
    <id column="interact_id" jdbcType="INTEGER" property="interactId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="title_id" jdbcType="INTEGER" property="titleId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="comment_date" jdbcType="DATE" property="commentDate" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_update_date" jdbcType="DATE" property="lastUpdateDate" />
    <result column="record_version" jdbcType="INTEGER" property="recordVersion" />
    <result column="deleted_flag" jdbcType="INTEGER" property="deletedFlag" />
    <result column="deleted_by" jdbcType="VARCHAR" property="deletedBy" />
    <result column="deletion_date" jdbcType="DATE" property="deletionDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    interact_id, user_id, title_id, title, comment_date, picture, like_count, create_date, 
    create_by, last_updated_by, last_update_date, record_version, deleted_flag, deleted_by, 
    deletion_date
  </sql>
  <select id="selectByExample" parameterType="com.atwangsi.user.model.TbInteractInterflowExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_interact_interflow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_interact_interflow
    where interact_id = #{interactId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_interact_interflow
    where interact_id = #{interactId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.atwangsi.user.model.TbInteractInterflowExample">
    delete from tb_interact_interflow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.atwangsi.user.model.TbInteractInterflow">
    insert into tb_interact_interflow (interact_id, user_id, title_id, 
      title, comment_date, picture, 
      like_count, create_date, create_by, 
      last_updated_by, last_update_date, record_version, 
      deleted_flag, deleted_by, deletion_date
      )
    values (#{interactId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{titleId,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{commentDate,jdbcType=DATE}, #{picture,jdbcType=VARCHAR}, 
      #{likeCount,jdbcType=INTEGER}, #{createDate,jdbcType=DATE}, #{createBy,jdbcType=VARCHAR}, 
      #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=DATE}, #{recordVersion,jdbcType=INTEGER}, 
      #{deletedFlag,jdbcType=INTEGER}, #{deletedBy,jdbcType=VARCHAR}, #{deletionDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atwangsi.user.model.TbInteractInterflow">
    insert into tb_interact_interflow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="interactId != null">
        interact_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="titleId != null">
        title_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="commentDate != null">
        comment_date,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="likeCount != null">
        like_count,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by,
      </if>
      <if test="lastUpdateDate != null">
        last_update_date,
      </if>
      <if test="recordVersion != null">
        record_version,
      </if>
      <if test="deletedFlag != null">
        deleted_flag,
      </if>
      <if test="deletedBy != null">
        deleted_by,
      </if>
      <if test="deletionDate != null">
        deletion_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="interactId != null">
        #{interactId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="titleId != null">
        #{titleId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="commentDate != null">
        #{commentDate,jdbcType=DATE},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="likeCount != null">
        #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedBy != null">
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=DATE},
      </if>
      <if test="recordVersion != null">
        #{recordVersion,jdbcType=INTEGER},
      </if>
      <if test="deletedFlag != null">
        #{deletedFlag,jdbcType=INTEGER},
      </if>
      <if test="deletedBy != null">
        #{deletedBy,jdbcType=VARCHAR},
      </if>
      <if test="deletionDate != null">
        #{deletionDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.atwangsi.user.model.TbInteractInterflowExample" resultType="java.lang.Long">
    select count(*) from tb_interact_interflow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_interact_interflow
    <set>
      <if test="record.interactId != null">
        interact_id = #{record.interactId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.titleId != null">
        title_id = #{record.titleId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.commentDate != null">
        comment_date = #{record.commentDate,jdbcType=DATE},
      </if>
      <if test="record.picture != null">
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.likeCount != null">
        like_count = #{record.likeCount,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=DATE},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdatedBy != null">
        last_updated_by = #{record.lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateDate != null">
        last_update_date = #{record.lastUpdateDate,jdbcType=DATE},
      </if>
      <if test="record.recordVersion != null">
        record_version = #{record.recordVersion,jdbcType=INTEGER},
      </if>
      <if test="record.deletedFlag != null">
        deleted_flag = #{record.deletedFlag,jdbcType=INTEGER},
      </if>
      <if test="record.deletedBy != null">
        deleted_by = #{record.deletedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.deletionDate != null">
        deletion_date = #{record.deletionDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_interact_interflow
    set interact_id = #{record.interactId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      title_id = #{record.titleId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      comment_date = #{record.commentDate,jdbcType=DATE},
      picture = #{record.picture,jdbcType=VARCHAR},
      like_count = #{record.likeCount,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=DATE},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      last_updated_by = #{record.lastUpdatedBy,jdbcType=VARCHAR},
      last_update_date = #{record.lastUpdateDate,jdbcType=DATE},
      record_version = #{record.recordVersion,jdbcType=INTEGER},
      deleted_flag = #{record.deletedFlag,jdbcType=INTEGER},
      deleted_by = #{record.deletedBy,jdbcType=VARCHAR},
      deletion_date = #{record.deletionDate,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.atwangsi.user.model.TbInteractInterflow">
    update tb_interact_interflow
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="titleId != null">
        title_id = #{titleId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="commentDate != null">
        comment_date = #{commentDate,jdbcType=DATE},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="likeCount != null">
        like_count = #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        last_update_date = #{lastUpdateDate,jdbcType=DATE},
      </if>
      <if test="recordVersion != null">
        record_version = #{recordVersion,jdbcType=INTEGER},
      </if>
      <if test="deletedFlag != null">
        deleted_flag = #{deletedFlag,jdbcType=INTEGER},
      </if>
      <if test="deletedBy != null">
        deleted_by = #{deletedBy,jdbcType=VARCHAR},
      </if>
      <if test="deletionDate != null">
        deletion_date = #{deletionDate,jdbcType=DATE},
      </if>
    </set>
    where interact_id = #{interactId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atwangsi.user.model.TbInteractInterflow">
    update tb_interact_interflow
    set user_id = #{userId,jdbcType=INTEGER},
      title_id = #{titleId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      comment_date = #{commentDate,jdbcType=DATE},
      picture = #{picture,jdbcType=VARCHAR},
      like_count = #{likeCount,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=DATE},
      create_by = #{createBy,jdbcType=VARCHAR},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_update_date = #{lastUpdateDate,jdbcType=DATE},
      record_version = #{recordVersion,jdbcType=INTEGER},
      deleted_flag = #{deletedFlag,jdbcType=INTEGER},
      deleted_by = #{deletedBy,jdbcType=VARCHAR},
      deletion_date = #{deletionDate,jdbcType=DATE}
    where interact_id = #{interactId,jdbcType=INTEGER}
  </update>
</mapper>