/* CSS Reset*/
html {
	font-size:125%; /* 20÷16=125% min-font-size:12px bug*/
}
@media only screen and (min-width: 481px){
	html {
		font-size:188%!important; /* 30.08÷16=188% */
	}
}
@media only screen and (min-width: 561px){
	html {
		font-size:218%!important; /* 38.88÷16=218% */
	}
}
@media only screen and (min-width: 641px){
	html {
		font-size:250%!important; /* 40÷16=250% */
	}
}
body, div, span, applet, object, iframe,
h1, h2, h3, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong,  tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size:1em;
  font: inherit;
  vertical-align: baseline;
  font-family:"Microsoft YaHei";
}
h4{
	margin: 0;
  padding: 0;
  border: 0;
  font-size:1em;
  vertical-align: baseline;
  font-family:"Microsoft YaHei";
}
body{
  font-family:"Microsoft YaHei";
  font-size: 0.7rem;
  color: #333;
  line-height:0.7rem;
  width:100%;
}
em{font-style:normal}
li{list-style:none}
a{text-decoration:none;outline:0;color:#333;}
img{border:none; vertical-align:top;}
table{border-collapse:collapse;}
input{font-family:"Microsoft YaHei";padding:0;}
textarea{ resize:none;overflow:auto;padding:0;font-family:"Microsoft YaHei"}
textarea:focus{outline:none;}
input:focus{outline:none;}
.clear{zoom:1}
.clear:after{content:"";display:block;clear:both;}
.fl{float:left}
.fr{float:right}
/*reset*/

/*********************************************************************
                              主页面(短片)
**********************************************************************/
header{
	background:#19b5ff;
	width:100%;
	height:2.5rem;
	line-height:2.5rem !important;
	color:#fff;
	text-align:center;
	font-size:0.9rem !important;
	position:fixed;
	left:0;
	top:0;
	z-index:97;
}
header .theme{
	width:75%;
	margin:0 auto;
	height:100%;
	overflow:hidden;
}
header .theme li{
	float:left;
	text-align:center;
	font-size:0.8rem;
	line-height:2.5rem;
	width:25%;
	margin:0 4.16665%;
}
header .theme a li{
	color:#fff;
}
header .theme li.current{
	border-bottom:0.15rem solid #fff;
	height:2.35rem;
}
header ._left{
	display:block;
	position:absolute;
	left:0;
	top:0;
}
header ._left img{
	height:1rem;
	margin:0.75rem 0 0 0.6rem;
}
header ._mid{
	height:2.5rem;
	overflow:hidden;	
	}
header ._mid ul{
	display:inline-block;
	overflow:hidden;
	margin:0 auto;
	margin-top:0.45rem;
}
header ._mid ul li{
	float:left;
	border:1px solid #fff;
	font-size:0.75rem;
}
header ._mid ul li:nth-child(1){
	color:#19b5ff;
	height:1.4rem;
	line-height:1.4rem;
	padding:0 1.1rem;
	background:#fff;
	border-radius:0.25rem 0 0 0.25rem;
}
header ._mid ul li:nth-child(2){
	color:#fff;
	height:1.4rem;
	line-height:1.4rem;
	padding:0 0.75rem;
	background:#19b5ff;
	border-radius:0 0.25rem 0.25rem 0;	
}

header ._right{
	display:block;
	position:absolute;
	right:0;
	top:0;
}
header ._right img{
	height:1rem;
	margin:0.75rem 0.5rem 0 0 ;
}
header ._righttwo{
	display:block;
	position:absolute;
	right:2rem;
	top:0;
}
header ._righttwo img{
	height:1rem;
	margin:0.75rem 0.5rem 0 0 ;
}
header ._rightthree{
	display:block;
	position:absolute;
	right:3.7rem;
	top:0;
}
header ._rightthree img{
	height:1rem;
	margin:0.75rem 0.5rem 0 0 ;
}

header ._right span{
	padding-right:0.5rem;
	font-size:0.85rem;
	color:#fff;
}
footer{
	position:fixed;
	left:0;
	bottom:0;
	height:2.5rem;
	width:100%;
	background:#fff;
	border-top:1px solid #e0e0e0;
	z-index:97;	
}
footer ul li{
	float:left;
	width:20%;	
	text-align:center;
	font-size:0.6rem;
	}
footer ul li.active{
	color:#19b5ff;	
	}	
footer ul li img{
	display:block;
	margin:0.35rem auto 0.15rem auto;
	height:1rem;
	}
footer ul li.main .g_wrap{
	background:#fff;
	margin:-0.7rem auto 0 auto;
	width:60%;
	padding:12%;
	border-radius:50%;
	}
footer ul li.main img{
	height:1.9rem;
	margin:0.1rem auto;
	vertical-align:top;
}

/*-----------短片------------*/
.main_short{
	overflow:hidden;
}
.main_short .selection ul{
	width:100%;
	margin:0 auto;
	height:1.8rem;
	overflow:hidden;
	background:#fff;
	position:fixed;
	left:0;
	top:2.5rem;
	z-index:97;
} 
.main_short .selection ul li{
	float:left;
	width:16.666667%;
	text-align:center;
	line-height:1.8rem;
	color:#bababa;
}
.main_short .selection ul li.current{
	height:1.7rem;
	border-bottom:0.1rem solid #19b5ff;
	color:#19b5ff;
}
.g_short{
	width:100%;
	height:auto;
	margin:4.3rem 0 3.25rem 0;
	
}
.g_short ul li{
	width:47%;
	height:12rem;
	float:left;
	margin-left:2%;
	position:relative;
	overflow:hidden;
	margin-top:0.25rem;
	background:#fff;
}
.g_short ul li .main{
	width:100%;
	height:8.5rem;
	overflow:hidden;
}
.g_short ul li .main img{
	width:100%;
	height: 100%;
}
.g_short ul li .f-overlay{
	position:absolute;
	width:100%;
	height:8.5rem;	
	background:rgba(0,0,0,0.1) url(../image/tansuo/icon_play.png) no-repeat center center;
	background-size:2.25rem;
	color:#fff;
	left:0;
	top:0;
}
.g_short ul li h2 img{
	height:0.6rem;
	}
.g_short ul li h1{
	color: #DDDDDD;
	width:70%;
	position:absolute;
	left:3%;
	bottom:16%;
	font-size:0.5rem;
	line-height:0.6rem;
	text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.g_short ul li h2{
	color: #DDDDDD;
	width:70%;
	position:absolute;
	left:3%;
	bottom:10%;
	font-size:0.5rem;
	line-height:0.6rem;
	text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.g_short ul li h3{
	color: #DDDDDD;
	width:70%;
	position:absolute;
	left:50%;
	bottom:2%;
	font-size:0.5rem;
	line-height:0.6rem;
	text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.g_short ul li h3 img{
	height:0.8rem;
	margin-right:0.1rem;
	left:40%;
	}
.g_short ul li h2 img{
	height:0.6rem;
	margin-right:0.1rem;
	float:left;
	}
.g_short ul li h2 span{
	float:left;
	line-height:0.7rem;
	font-size:0.6rem;
}	
.g_short ul li .f-overlay h3{
	position:absolute;
	right:5%;
	top:6%;	
	overflow:hidden;
}
.g_short ul li .f-overlay h3 img{
	height:0.5rem;
	margin:0 0.1rem 0 0;
	float:left;
	}
.g_short ul li .f-overlay h3 span{
	font-size:0.6rem;
	line-height:0.55rem;
	float:left;
	transform:scale(0.833334)
}	
.g_short ul li h4{
	line-height:1.1rem;
	margin-left:3%;
	width:94%;
	text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
	font-size:0.65rem;
}
.main_short .record{
	position:fixed;
	right:5%;
	bottom:3.6rem;
	background:url(../image/yule/icon_paizhao.png) no-repeat;
	background-size:cover;
	height:2.4rem;
	width:2.4rem;
	z-index:2;
}

/*********************************************************************
                              主页面(动态)
**********************************************************************/
.main_dynamic{
	overflow:hidden;
	margin:0 0 3.25rem 0; 
}
.main_dynamic ul.main li{
	background:#fff;
	width:100%;
	overflow:hidden;
	margin-bottom:0.4rem;
}
.main_dynamic ul.main li .head{
	width:94%;
	overflow:hidden;
	padding:0.2rem 3% 0 3%;
}
.main_dynamic ul.main li .head .pic{
	border-radius:50%;
	overflow:hidden;
	height:2rem;
	width:2rem;
	float:left;
	margin-right:0.2rem;
}
.main_dynamic ul.main li .head .pic img{
	height:100%;
}
.main_dynamic ul.main li .head .name{
	font-size:0.75rem;
	color:#444444;
	line-height:1rem;
}
.main_dynamic ul.main li .head .time{
	font-size:0.6rem;
	color:#a2a2a2;
	line-height:1rem;
}
.main_dynamic ul.main li .head .words{
	color:#6f6f6f;
	text-indent:1.4rem;
	line-height:0.9rem;
	height:2.7rem;
	width:98%;
	padding:0 1%;
	text-overflow:ellipsis;
	overflow:hidden;
}
.main_dynamic ul.main li .news{
	color:#6f6f6f;
	width:94%;
	overflow:hidden;
	padding:0 0 0.3rem 0;
	margin:0 3%;
}
.main_dynamic ul.main li .news .image{
	height:5rem;
	overflow:hidden;
	width:100%;
}
.main_dynamic ul.main li .news .image img{
	width:100%;
	display:block;
}
.main_dynamic ul.main li .news .pics{
	width:100%;
	height:15rem;
}
.main_dynamic ul.main li .news .pics li{
	height:5rem;
	width:32%;
	float:left;	
	margin:0.1rem 0 0.1rem 1%;
}
.main_dynamic ul.main li .news .pics li img{
	display:block;
	width:100%;
}
.main_dynamic ul.main li .news .video{
	width:100%;
	padding:0.2rem 0;
}
.main_dynamic ul.main li .news .video img{
	display:block;
	width:100%;
}
.main_dynamic ul.main li ul.control{
	overflow:hidden;
	height:1.2rem;
	/**padding:0.3rem 0;*/
}
.main_dynamic ul.main li ul.control li{
	background:#fff;
	float:right;
	width:25%;
	height:100%;
	margin-left:-1px;
	margin-bottom:0;
	overflow:hidden;
}
.main_dynamic ul.main li ul.control li .wrap{
	overflow:hidden;
	margin:0 auto;
}
.main_dynamic ul.main li ul.control li .wrap img{
	height:0.8rem;
	margin:0.2rem 0.15rem 0 0;
}
.main_dynamic ul.main li ul.control li .wrap span{
	height:1.2rem;
	line-height:1.2rem;
	font-size:0.65rem;
	color:#959595;
}
.main_dynamic .wenzi{
	position:fixed;
	right:5%;
	bottom:3.6rem;
	background:url(../images/yule/icon_wenzi.png) no-repeat;
	background-size:cover;
	height:2.4rem;
	width:2.4rem;
	z-index:2;
}
.main_dynamic_overlay{
	position:fixed;
	height:100%;
	width:100%;
	z-index:98;
	background:rgba(0,0,0,0.5);
	left:0;
	top:0;
	display:none;
}
.main_dynamic_lack{
	position:absolute;
	left:12%;
	top:9rem;
	width:76%;
	height:9.75rem;
	background:#fff;
	border-radius:0.3rem;
	z-index:99;
	overflow:hidden;
	display:none;
}
.main_dynamic_lack .icon{
	background:#ff4b55 url(../image/person/error.png) no-repeat center center;
	width:100%;
	height:3.7rem;
	background-size:2rem;
}
.main_dynamic_lack h1{
	height:3.8rem;
	line-height:3.8rem;
	text-align:center;
	color:#333;
	font-size:0.75rem;
	border-bottom:1px solid #ebebeb;
}	
.main_dynamic_lack .wrap ul{
	overflow:hidden;
}	
.main_dynamic_lack .wrap ul li{
	float:left;
	width:50%;
	text-align:center;
	color:#666666;
	line-height:2.2rem;
	height:2.2rem;
	font-size:0.8rem;
}
.main_dynamic_lack .wrap ul li:nth-child(2){
	border-left:1px solid #ebebeb;
	margin-left:-1px;
}
.main_dynamic_lack .wrap ul li:nth-child(2) a{
	color:#ff4b55;
}
.main_dynamic_lack_change{
	top:8rem;
	width:68%;
	background:#fff;
	border-radius:0.3rem;
	overflow:hidden;
}
.main_dynamic_lack_change .title{
	color:#525252;
	height:2.2rem;
	line-height:2.2rem;
	border-bottom:1px solid #ebebeb;
	text-align:center;
	font-size:0.8rem;
}
@media only screen and (max-width: 330px){
.main_dynamic_lack_change .title{
	height:2rem;
	line-height:2rem;
	font-size:0.75rem;
}
.main_dynamic_lack_change{
	width:72%;
}
}
.main_dynamic_lack_change li{
	height:100%;
	color:#333;
	text-align:center;
	line-height:0.95rem;
	background:#fff;
	overflow:hidden;
	padding:0.6rem 0;
	width:100%;
}
.main_dynamic_lack_change li .g_wrap{
	width:8rem;
	margin:0 auto;
	height:4.3rem;
}
.main_dynamic_lack_change li .pic{
	margin:0 auto;
	height:4rem;
	overflow:hidden;
	float:left;
	width:2.7rem;
}
.main_dynamic_lack_change li .pic img{
	height:100%;
}
.main_dynamic_lack_change li .wrap{
	float:left;
	padding-top:0.85rem;
	text-align:left;
	padding-left:0.4rem;
	width:4.9rem;
}
.main_dynamic_lack_change li .name{
	font-size:0.75rem;
	line-height:1.5rem;
	width:100%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.main_dynamic_lack_change li .num{
	font-size:0.7rem;
	color:#525252;
	line-height:1rem;
	width:100%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.main_dynamic_lack_change li .num span{
	color:#19b5ff;
}
.main_dynamic_lack_change .tip{
	background:#fff;
	color:#474747;
	height:1.75rem;
	line-height:1.75rem;
	font-size:0.7rem;
	overflow:hidden;
	margin:0 auto 0.6rem auto;
	width:7.3rem; 
}
.main_dynamic_lack_change .tip span{
	float:left;
	font-size:0.65rem;
}
.main_dynamic_lack_change .tip .num_l{
	text-align:center;
	line-height:1.2rem;
	float:left;
	width:1.3rem;
	border:1px solid #ccc;
	margin:-1px;
}
.main_dynamic_lack_change .tip .num_m{
	line-height:1.2rem;
	float:left;
	margin:0.2rem 0 0 5%;
	border:1px solid #ccc;
	overflow:hidden;
	border-radius:0.1rem;
	font-size:0.65rem;
}
.main_dynamic_lack_change .tip .num_m h1{
	float:left;
	text-align:center;
	width:1.4rem;
}
.main_dynamic_lack_change .tip .num_r{
	text-align:center;
	line-height:1.2rem;
	float:right;
	width:1.3rem;
	border:1px solid #ccc;
	margin:-1px;
}
.main_dynamic_lack_change .exchange{
	overflow:hidden;
}
.main_dynamic_lack_change .exchange .give{
	font-size:0.8rem;
	color:#fff;
	background:#19b5ff;
	line-height:2.2rem;
	height:2.2rem;
	text-align:center;
	float:left;
	width:50%;
}
.main_dynamic_lack_change .exchange .cal{
	font-size:0.8rem;
	color:#525252;
	background:#fff;
	line-height:2.2rem;
	height:2.15rem;
	text-align:center;
	float:left;
	width:50%;
	border-top:1px solid #ebebeb;
}

/*********************************************************************
                              主页面(排行)
**********************************************************************/
.main_rank{
	overflow:hidden;
}
.main_rank .selection ul{
	width:100%;
	margin:0 auto;
	height:2rem;
	overflow:hidden;
	background:#fff;
	position:fixed;
	left:0;
	top:2.5rem;
	z-index:97;
} 
.main_rank .selection ul li{
	float:left;
	width:50%;
	text-align:center;
	line-height:2rem;
	color:#8f8f8f;
	background:#f6f6f6;
	border-bottom:1px #ebebeb solid;
}
.main_rank .selection ul li.current{
	color:#19b5ff;
}
/*-------------人气排行------------*/
.main_rank .pop{
	padding:4.5rem 0 3.25rem 0;
}

.main_rank .pop li{
	width:100%;
	height:3.6rem;
	background:#fff url(../image/yule/icon_return.png) no-repeat 97% center;
	background-size:0.4rem;
	border-bottom:1px #ebebeb solid;
	overflow:hidden;
	color:#666666;
}
.main_rank .pop li:nth-child(1){
	color:#eb4f38;
}
.main_rank .pop li:nth-child(2){
	color:#ff5984;
}
.main_rank .pop li:nth-child(3){
	color:#fd7c1e;
}
.main_rank .pop li .bonus{
	float:left;
	margin:1rem 0 0 0.4rem;
	height:1.6rem;
	line-height:1.6rem;
	width:0.9rem;
	text-align:center;
}

.main_rank .pop li .bonus img{
	width:100%;
}
.main_rank .pop li .head{
	border-radius:50%;
	overflow:hidden;
	height:2.4rem;
	margin:0.6rem 0 0 0.4rem;
	width:2.4rem;
	float:left;
	
}
.main_rank .pop li .head img{
	height:100%;
}
@media only screen and (max-width: 330px){
.main_rank .pop li .bonus{
	margin:1rem 0 0 0.2rem;
	height:1.4rem;
}
.main_rank .pop li .head{
	margin:0.8rem 0 0 0.2rem;
	height:2rem;
	width:2rem;
}
.main_rank .pop li .bonus img{
	width:90%;
}
}

.main_rank .pop li .wrap{
	float:left;
	padding:0.6rem 0 0 0.2rem;
	width:70%;
}
.main_rank .pop li .wrap .name{
	font-size:0.75rem;
	line-height:1.2rem;
	width:100%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.main_rank .pop li .wrap .name img{
	height:0.8rem;
	margin:0.2rem 0 0 0.2rem;
}

.main_rank .pop li .wrap .fans{
	font-size:0.6rem;
	line-height:1.3rem;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	width:100%;
}
.main_rank .pop li .wrap .fans img{
	height:0.65rem;
	margin:0.3rem 0.1rem 0 0.3rem;
}
/*-------------财富排行------------*/
.main_rank .wealth{
	padding:4.5rem 0 3.25rem 0;
	display:none;
}
.main_rank .wealth li{
	width:100%;
	height:3.6rem;
	background:#fff url(../image/yule/icon_return.png) no-repeat 97% center;
	background-size:0.4rem;
	border-bottom:1px #ebebeb solid;
	overflow:hidden;
	color:#666666;
}
.main_rank .wealth li:nth-child(1){
	color:#eb4f38;
}
.main_rank .wealth li:nth-child(2){
	color:#ff5984;
}
.main_rank .wealth li:nth-child(3){
	color:#fd7c1e;
}
.main_rank .wealth li .bonus{
	float:left;
	margin:1rem 0 0 0.4rem;
	height:1.6rem;
	line-height:1.6rem;
	width:0.9rem;
	text-align:center;
}
.main_rank .wealth li .bonus img{
	height:100%;
}
.main_rank .wealth li .head{
	border-radius:50%;
	overflow:hidden;
	height:2.4rem;
	margin:0.6rem 0 0 0.4rem;
	width:2.4rem;
	float:left;
	
}
.main_rank .wealth li .head img{
	height:100%;
}
.main_rank .wealth li .wrap{
	float:left;
	padding:0.6rem 0 0 0.2rem;
}
.main_rank .wealth li .wrap .name{
	font-size:0.75rem;
	line-height:1.2rem;
}
.main_rank .wealth li .wrap .name img{
	height:0.8rem;
	margin:0.2rem 0 0 0.2rem;
}

.main_rank .wealth li .wrap .fans{
	font-size:0.65rem;
	line-height:1.3rem;
}
.main_rank .wealth li .wrap .fans img{
	height:0.7rem;
	margin:0.15rem 0.3rem 0 0;
}


/*********************************************************************
                              动态（发布动态）
**********************************************************************/
.yule_dynamic{
	margin-top:2.5rem;
}
.yule_dynamic textarea{
	padding:2% 4%;
	width:92%;
	font-size:0.7rem;
	line-height:1.2rem;
	border:none;
	overflow:hidden;
	display:block;
	text-indent:0;
}
.yule_dynamic textarea::-webkit-input-placeholder {
	color:#bbbbbb !important; /*WebKit browsers*/
    font-family:"Microsoft YaHei"

}
.yule_dynamic textarea::-moz-placeholder {
	color: #bbbbbb !important; /*Mozilla Firefox 4 to 18 */
	font-family:"Microsoft YaHei"
}
.yule_dynamic textarea::-moz-placeholder {
	color: #bbbbbb !important; /*Mozilla Firefox 19+ */
    font-family:"Microsoft YaHei"

}
.yule_dynamic textarea::-ms-input-placeholder {
	color: #bbbbbb !important; /*Internet Explorer 10+*/ 
    font-family:"Microsoft YaHei"

}

.yule_dynamic .add{
	padding-left:4%;
	width:96%;
}
.yule_dynamic .add img{
	width:18%;
}

/*********************************************************************
                              动态（评论）
**********************************************************************/
.main_dynamic_details{
	overflow:hidden;
	padding-top:2.5rem;
}
.main_dynamic_details .main{
	background:#fff;
	width:100%;
	overflow:hidden;
	margin-bottom:0.4rem;
}
.main_dynamic_details .main .head{
	height:2.2rem;
	width:100%;
	overflow:hidden;
	padding:0.2rem 0 0 0.6rem
}
.main_dynamic_details .main .head .pic{
	border-radius:50%;
	overflow:hidden;
	height:2rem;
	width:2rem;
	float:left;
	margin-right:0.2rem;
}
.main_dynamic_details .main .head .pic img{
	height:100%;
}
.main_dynamic_details .main .head .name{
	font-size:0.75rem;
	color:#444444;
	line-height:1rem;
}
.main_dynamic_details .main .head .time{
	font-size:0.6rem;
	color:#a2a2a2;
	line-height:1rem;
}
.main_dynamic_details .main .news{
	color:#6f6f6f;
	width:94%;
	overflow:hidden;
	padding:0 0 0.3rem 0;
	margin:0 3%;
	border-bottom:1px solid #ebebeb;
}
.main_dynamic_details .main .news .words{
	color:#666;
	line-height:1.1rem;
	height:2.4rem;
	width:100%;
	padding:0;
	text-overflow:ellipsis;
	overflow:hidden;
	font-size:0.65re,;
}
.main_dynamic_details .main .news .image{
	height:5rem;
	overflow:hidden;
	width:100%;
}
.main_dynamic_details .main .news .image img{
	width:100%;
	display:block;
}
.main_dynamic_details .main .news .pics{
	width:100%;
	height:15rem;
}
.main_dynamic_details .main .news .pics li{
	height:5rem;
	width:32%;
	float:left;	
	margin:0.1rem 0 0.1rem 1%;
}
.main_dynamic_details .main .news .pics li img{
	display:block;
	width:100%;
}
.main_dynamic_details .main .news .video{
	width:100%;
	padding:0.2rem 0;
}
.main_dynamic_details .main .news .video img{
	display:block;
	width:100%;
}
.main_dynamic_details .main ul.control{
	overflow:hidden;
	height:1.2rem;
	padding:0.3rem 0;
}
.main_dynamic_details .main ul.control li{
	background:#fff;
	float:left;
	width:25%;
	height:100%;
	border-left:1px solid #ebebeb;
	margin-left:-1px;
	margin-bottom:0;
	overflow:hidden;
}
.main_dynamic_details .main ul.control li .wrap{
	overflow:hidden;
	margin:0 auto;
}
.main_dynamic_details .main ul.control li .wrap img{
	height:0.8rem;
	margin:0.2rem 0.15rem 0 0;
}
.main_dynamic_details .main ul.control li .wrap span{
	height:1.2rem;
	line-height:1.2rem;
	font-size:0.65rem;
	color:#959595;
}
.main_dynamic_details .comment{
	border-bottom:1px solid #ebebeb;
	width:100%;
	padding:0.25rem 0;	
	background-size:0.4rem;
	font-size:0.7rem;
	color:#444;
	margin-bottom:2.8rem;
}
.main_dynamic_details .comment li{
	overflow:hidden;
	border-bottom:1px solid #dddddd;
	padding-top:0.3rem;
}
.main_dynamic_details .comment li:last-of-type{
	text-align:center;
	height:1.6rem;
	line-height:1.6rem;
	color:#999;
	padding:0;
	margin:0;
	font-size:0.6rem;
}
.main_dynamic_details .comment .describe{
	padding-left:0.55rem;
	width:70%;
	height:1.6rem;
	float:left;
    overflow:hidden;
}
.main_dynamic_details .comment .describe .head{
	height:1.6rem;
	width:1.6rem;
	border-radius:50%;
	overflow:hidden;
	float:left;
	margin-right:0.15rem;
}
.main_dynamic_details .comment .describe .head img{
	width:100%;
}
.main_dynamic_details .comment .describe .name{
	float:left;
	width:70%;
	line-height:0.7rem;	
}
.main_dynamic_details .comment .describe .time{
	font-size:0.5rem;
	color:#7b7b7b;
	float:left;
	width:70%;
	line-height:0.8rem;
　	-webkit-transform-origin-x: 0;
　　	-webkit-transform: scale(0.833333333333334);
}
.main_dynamic_details .comment .share{
	width:14%;
	height:1.6rem;
	float:right;
	text-align:center;
	color:#999999;
	font-size:0.6rem;
	line-height:1.6rem;
}
.main_dynamic_details .comment .share img{
	margin:0.5rem 0.1rem 0 0;
	height:0.6rem;
}
.main_dynamic_details .comment .content{
	width:80%;
	overflow:hidden;
	height:2rem;
	padding-left:2.3rem;
	font-size:0.6rem;
	line-height:0.8rem;
}
.main_dynamic_details_foot{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:2.5rem;
	border-top:1px solid #cecece;
	background:#fff;
	z-index:97;
}
.main_dynamic_details_foot .head{
	width:2rem;
	height:2rem;
	overflow:hidden;
	border-radius:50%;
	float:left;
	margin:0.25rem 3% 0 3%;
}
.main_dynamic_details_foot .head img{
	width:100%;
}
.main_dynamic_details_foot textarea{
	float:left;
	border:none;
	color:#333;
	font-size:0.7rem;
	line-height:1rem;
	height:1rem;
	padding:0.75rem 0;
	width:68%;
	overflow:hidden;
}
.main_dynamic_details_foot textarea::-webkit-input-placeholder {
	color:#bbbbbb !important; /*WebKit browsers*/
    font-family:"Microsoft YaHei"

}
.main_dynamic_details_foot textarea::-moz-placeholder {
	color: #bbbbbb !important; /*Mozilla Firefox 4 to 18 */
	font-family:"Microsoft YaHei"
}
.main_dynamic_details_foot textarea::-moz-placeholder {
	color: #bbbbbb !important; /*Mozilla Firefox 19+ */
    font-family:"Microsoft YaHei"

}
.main_dynamic_details_foot textarea::-ms-input-placeholder {
	color: #bbbbbb !important; /*Internet Explorer 10+*/ 
    font-family:"Microsoft YaHei"

}
.main_dynamic_details_foot .face{
	height:1.1rem;
	width:1.1rem;
	background:url(../image/yule/iconfont-biaoqing.png) no-repeat;
	background-size:cover;
	float:right;
	margin:0.7rem 3% 0 0;
}


/*********************************************************************
                              短片（短片详情）
**********************************************************************/
.main_short_details{
	overflow:hidden;
	padding-top:2.5rem;
}
.main_short_details .main{
	background:#fff;
	width:100%;
	overflow:hidden;
	margin-bottom:0.4rem;
}
.main_short_details .main .head{
	height:2.2rem;
	overflow:hidden;
	padding:0.2rem 0 0 0.6rem
}
.main_short_details .main .head .pic{
	border-radius:50%;
	overflow:hidden;
	height:2rem;
	width:2rem;
	float:left;
	margin-right:0.2rem;
}
.main_short_details .main .head .pic img{
	height:100%;
}
.main_short_details .main .head .wrap{
	float:left;
	width:50%;
}
.main_short_details .main .head .focus{
	float:right;
	color:#19b5ff;
	background:#fff;
	height:1.2rem;
	line-height:1.2rem;
	margin:0.4rem 0.6rem 0 0;
	border:1px solid #19b5ff;
	border-radius:0.125rem;
	font-size:0.7rem;
	width:3.2rem;
	text-align:center;
}
.main_short_details .main .head .name{
	font-size:0.75rem;
	color:#444444;
	line-height:1rem;
}
.main_short_details .main .head .time{
	font-size:0.6rem;
	color:#a2a2a2;
	line-height:1rem;
}
.main_short_details .main .news{
	color:#6f6f6f;
	width:100%;
	overflow:hidden;
	padding:0 0 0.3rem 0;
	border-bottom:1px solid #ebebeb;
}
.main_short_details .main .news .words{
	color:#666;
	line-height:1.1rem;
	height:2.4rem;
	width:100%;
	padding:0;
	text-overflow:ellipsis;
	overflow:hidden;
	font-size:0.65re,;
}
.main_short_details .main .news .image{
	height:5rem;
	overflow:hidden;
	width:100%;
}
.main_short_details .main .news .image img{
	width:100%;
	display:block;
}
.main_short_details .main .news .pics{
	width:100%;
	height:15rem;
}
.main_short_details .main .news .pics li{
	height:5rem;
	width:32%;
	float:left;	
	margin:0.1rem 0 0.1rem 1%;
}
.main_short_details .main .news .pics li img{
	display:block;
	width:100%;
}
.main_short_details .main .news .video{
	width:100%;
	padding:0.2rem 0;
}
.main_short_details .main .news .video img{
	display:block;
	width:100%;
}
.main_short_details .main ul.control{
	overflow:hidden;
	height:1.2rem;
	padding:0.3rem 0;
}
.main_short_details .main ul.control li{
	background:#fff;
	float:left;
	width:25%;
	height:100%;
	border-left:1px solid #ebebeb;
	margin-left:-1px;
	margin-bottom:0;
	overflow:hidden;
}
.main_short_details .main ul.control li .wrap{
	overflow:hidden;
	margin:0 auto;
}
.main_short_details .main ul.control li .wrap img{
	height:0.8rem;
	margin:0.2rem 0.15rem 0 0;
}
.main_short_details .main ul.control li .wrap span{
	height:1.2rem;
	line-height:1.2rem;
	font-size:0.65rem;
	color:#959595;
}
.main_short_details .comment{
	border-bottom:1px solid #ebebeb;
	width:100%;
	padding:0.25rem 0;	
	background-size:0.4rem;
	font-size:0.7rem;
	color:#444;
	margin-bottom:2.8rem;
}
.main_short_details .comment li{
	overflow:hidden;
	border-bottom:1px solid #dddddd;
	padding-top:0.3rem;
}
.main_short_details .comment li:last-of-type{
	text-align:center;
	height:1.6rem;
	line-height:1.6rem;
	color:#999;
	padding:0;
	margin:0;
	font-size:0.6rem;
}
.main_short_details .comment .describe{
	padding-left:0.55rem;
	width:70%;
	height:1.6rem;
	float:left;
    overflow:hidden;
}
.main_short_details .comment .describe .head{
	height:1.6rem;
	width:1.6rem;
	border-radius:50%;
	overflow:hidden;
	float:left;
	margin-right:0.15rem;
}
.main_short_details .comment .describe .head img{
	width:100%;
}
.main_short_details .comment .describe .name{
	float:left;
	width:70%;
	line-height:0.7rem;	
}
.main_short_details .comment .describe .time{
	font-size:0.5rem;
	color:#7b7b7b;
	float:left;
	width:70%;
	line-height:0.8rem;
　	-webkit-transform-origin-x: 0;
　　	-webkit-transform: scale(0.833333333333334);
}
.main_short_details .comment .share{
	width:14%;
	height:1.6rem;
	float:right;
	text-align:center;
	color:#999999;
	font-size:0.6rem;
	line-height:1.6rem;
}
.main_short_details .comment .share img{
	margin:0.5rem 0.1rem 0 0;
	height:0.6rem;
}
.main_short_details .comment .content{
	width:80%;
	overflow:hidden;
	height:2rem;
	padding-left:2.3rem;
	font-size:0.6rem;
	line-height:0.8rem;
}
.main_short_details_foot{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:2.5rem;
	border-top:1px solid #cecece;
	background:#fff;
	z-index:97;
}
.main_short_details_foot .head{
	width:2rem;
	height:2rem;
	overflow:hidden;
	border-radius:50%;
	float:left;
	margin:0.25rem 3% 0 3%;
}
.main_short_details_foot .head img{
	width:100%;
}
.main_short_details_foot textarea{
	float:left;
	border:none;
	color:#333;
	font-size:0.7rem;
	line-height:1rem;
	height:1rem;
	padding:0.75rem 0;
	width:68%;
	overflow:hidden;
}
.main_short_details_foot textarea::-webkit-input-placeholder {
	color:#bbbbbb !important; /*WebKit browsers*/
    font-family:"Microsoft YaHei"

}
.main_short_details_foot textarea::-moz-placeholder {
	color: #bbbbbb !important; /*Mozilla Firefox 4 to 18 */
	font-family:"Microsoft YaHei"
}
.main_short_details_foot textarea::-moz-placeholder {
	color: #bbbbbb !important; /*Mozilla Firefox 19+ */
    font-family:"Microsoft YaHei"

}
.main_short_details_foot textarea::-ms-input-placeholder {
	color: #bbbbbb !important; /*Internet Explorer 10+*/ 
    font-family:"Microsoft YaHei"

}
.main_short_details_foot .face{
	height:1.1rem;
	width:1.1rem;
	background:url(../image/yule/iconfont-biaoqing.png) no-repeat;
	background-size:cover;
	float:right;
	margin:0.7rem 3% 0 0;
}

/*********************************************************************
                              短片（录制视频)
**********************************************************************/

.yule_short_record{
	padding-top:2.5rem;
}
.yule_short_record .video img{
	width:100%;
}
.yule_short_record .bar{
	height:0.25rem;
	background:rgba(25,181,255,0.3);
	width:100%;
	margin-top:-0.25rem;
	position:relative;
}
.yule_short_record .bar .in{
	background:#19b5ff;
	width:0;
	height:100%;
}
.yule_short_record .tip{
	color:#fff;
	position:relative;
	width:100%;
	overflow:hidden;
}
.yule_short_record .tip .pro{
	position:absolute;
	left:0;
	top:0;
	width:2rem;
	height:0.95rem;
	text-align:center;
	font-size:0.6rem;
	color:#19b5ff;
	line-height:0.95rem;
	border:1px solid #19b5ff;
	border-radius:0.2rem;
	margin-top:0.2rem;
	display:none;
}
.yule_short_record .tip ul{
	overflow:hidden;
	padding-left:0.8rem;
	width:9.9rem;
	margin:0 auto;
	padding-top:1rem;
}
.yule_short_record .tip ul li{
	text-align:center;
	font-size:0.65rem;
	float:left;
	width:2.4rem;
	height:1.2rem;
	line-height:1.2rem;
	margin-right:0.8rem;
	border:1px solid #313131;
}
.yule_short_record .tip ul li.current{
	border:1px solid #ff4b55;
	border-radius:0.2rem;
	color:#ff4b55;
}
.yule_short_record .btn ul{
	overflow:hidden;
}
.yule_short_record .btn ul li{
	float:left;
	width:33.333333%;
	height:6rem;
}
.yule_short_record .btn ul li:nth-child(1) img,.yule_short_record .btn ul li:nth-child(3) img{
	width:2rem;
	height:2rem;
	margin:2rem auto;
	display:none;
}
.yule_short_record .btn ul li:nth-child(2) img{
	width:4rem;
	height:4rem;
	margin:1.2rem auto;
	display:block;
}
.yule_short_record .fitter{
	color:#19b5ff;
	display:none;
}
.yule_short_record .fitter .wrap{
	overflow:hidden;
}
.yule_short_record .fitter .title{
	width:1.8rem;
	text-align:center;
	line-height:1.4rem;
	height:1.4rem;
	border-bottom:1px solid #19b5ff;
	margin-left:2%;
	padding-top:0.2rem;
	font-size:0.65rem;
}
.yule_short_record .fitter .comp{
	width:1.8rem;
	text-align:center;
	line-height:1.4rem;
	height:1.4rem;
	border-bottom:1px solid #19b5ff;
	margin-right:2%;
	padding-top:0.2rem;
	font-size:0.65rem;
	color:#19b5ff;
}
.yule_short_record .fitter ul{
	overflow:hidden;
	padding-top:1.4rem;
}
.yule_short_record .fitter ul li{
	float:left;
	width:20%;
	height:5rem;
	line-height:1.8rem;
	font-size:0.6rem;
	color:#fff;
	text-align:center;
}
.yule_short_record .fitter ul li .pic{
	width:3.2rem;
	height:3.2rem;
	overflow:hidden;
	border-radius:50%;
	margin:0 auto;
}
@media only screen and (max-width: 330px){
.yule_short_record .fitter ul li .pic{
	width:2.6rem;
	height:2.6rem;
}
}
.yule_short_record .fitter ul li .pic img{
	width:100%;
}

/*********************************************************************
                              短片（录制视频_更多)
**********************************************************************/
.yule_short_record_more{
	padding-top:2.5rem;
}
.yule_short_record_more .title{
	line-height:1.4rem;
	height:1.4rem;
	border-bottom:1px solid #ebebeb;
	padding-top:0.2rem;
	font-size:0.65rem;
	padding:0.4rem 0 0 2%;
	width:98%;
	color:#666666;
}
.yule_short_record_more ul{
	overflow:hidden;
	padding-top:1.4rem;
}
.yule_short_record_more ul li{
	float:left;
	width:20%;
	height:5rem;
	line-height:1.8rem;
	font-size:0.6rem;
	color:#fff;
	text-align:center;
}
.yule_short_record_more ul li .pic{
	width:3.2rem;
	height:3.2rem;
	overflow:hidden;
	border-radius:50%;
	margin:0 auto;
	position:relative;
}
.yule_short_record_more ul li .pic .none{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5) url(../image/yule/download.png) no-repeat center center;
	background-size:1.4rem;
}
.yule_short_record_more ul li .pic .loading{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5) url(../image/yule/loading.png) no-repeat center center;
	background-size:1.4rem;
}
@media only screen and (max-width: 330px){
.yule_short_record_more ul li .pic{
	width:2.6rem;
	height:2.6rem;
}
}
.yule_short_record_more ul li .pic img{
	width:100%;
}

/*********************************************************************
                              短片（发布)
**********************************************************************/
.yule_short_record_rel{
	padding-top:2.5rem;
}
.yule_short_record_rel .video{
	overflow:hidden;
}
.yule_short_record_rel .video img{
	width:100%;
}
.yule_short_record_rel textarea{
	background:#fff;
	width:86%;
	margin:0.4rem auto;
	border:none;
	border-radius:0.3rem;
	display:block;
	line-height:1rem;
	font-size:0.7rem;
	padding:0.6rem 4% 2.4rem 4%;
	height:7rem;
	overflow:hidden;
}
.yule_short_record_rel textarea::-webkit-input-placeholder {
	color:#999 !important; /*WebKit browsers*/
    font-family:"Microsoft YaHei"

}
.yule_short_record_rel textarea::-moz-placeholder {
	color: #999 !important; /*Mozilla Firefox 4 to 18 */
	font-family:"Microsoft YaHei"
}
.yule_short_record_rel textarea::-moz-placeholder {
	color: #999 !important; /*Mozilla Firefox 19+ */
    font-family:"Microsoft YaHei"

}
.yule_short_record_rel textarea::-ms-input-placeholder {
	color: #999 !important; /*Internet Explorer 10+*/ 
    font-family:"Microsoft YaHei";

}
.yule_short_record_rel .icon{
	overflow:hidden;
	margin-top:-2.2rem;
}
.yule_short_record_rel .icon li{
	float:left;
}
.yule_short_record_rel .icon li:nth-child(1){
	color:#999;
	background:#e2e2e2;
	border-radius:0.2rem;
	height:1rem;
	line-height:1rem;
	padding:0.1rem 0.1rem;
	margin-left:7%;
	font-size:0.6rem;
	text-align:center;
}
.yule_short_record_rel .icon li:nth-child(2){
	height:1.1rem;
	width:1.1rem;
	background:url(../image/yule/biaoqing.png) no-repeat;
	background-size:cover;
	margin-left:3%
}
.yule_short_record_rel .icon li:nth-child(3){
	height:1.1rem;
	width:1.1rem;
	background:url(../image/yule/icon_@.png) no-repeat;
	background-size:cover;
	margin-left:3%
}
.yule_short_record_rel_foot{
	position:fixed;
	left:0;
	bottom:0;
	background:#19b5ff;
	color:#fff;
	line-height:2.5rem;
	height:2.5rem;
	text-align:center;
	font-size:0.9rem;
	width:100%;
}



